*[brand*=instapaper] {
  background-image: url("../../assets/brand-names/instapaper.svg");
  background-color: rgba(191, 191, 191, 0.5333);
}

*[brand*=deepl] {
  background-image: url("../../assets/brand-names/deepl.svg");
  background-color: rgba(220, 234, 248, 0.5333);
}

*[brand*=garmin] {
  background-image: url("../../assets/brand-names/garmin.svg");
  background-color: rgba(195, 233, 255, 0.5333);
}

*[brand*=twitch] {
  background-image: url("../../assets/brand-names/twitch.svg");
  background-color: rgba(241, 237, 248, 0.5333);
}

*[brand*=ohmportal] {
  background-image: url("../../assets/brand-names/ohmportal.svg");
  background-color: rgba(160, 202, 255, 0.5333);
}

*[brand*=carrd] {
  background-image: url("../../assets/brand-names/carrd.svg");
  background-color: rgba(234, 225, 234, 0.5333);
}

*[brand*=amazon] {
  background-image: url("../../assets/brand-names/amazon.svg");
  background-color: rgba(255, 204, 128, 0.5333);
}

*[brand*=google] {
  background-image: url("../../assets/brand-names/google.svg");
  background-color: rgba(186, 211, 251, 0.5333);
}

*[brand*=ebay] {
  background-image: url("../../assets/brand-names/ebay.svg");
  background-color: rgba(243, 163, 166, 0.5333);
}

*[brand*=zalando] {
  background-image: url("../../assets/brand-names/zalando.svg");
  background-color: rgba(255, 180, 128, 0.5333);
}

*[brand*=feedly] {
  background-image: url("../../assets/brand-names/feedly.svg");
  background-color: rgba(228, 248, 233, 0.5333);
}

*[brand*=monkii] {
  background-image: url("../../assets/brand-names/monkii.svg");
  background-color: rgba(199, 227, 161, 0.5333);
}

*[brand*=papierkram] {
  background-image: url("../../assets/brand-names/papierkram.svg");
  background-color: rgba(171, 229, 254, 0.5333);
}

*[brand*=booking] {
  background-image: url("../../assets/brand-names/booking.svg");
  background-color: rgba(128, 181, 255, 0.5333);
}

*[brand*=chip] {
  background-image: url("../../assets/brand-names/chip.svg");
  background-color: rgba(247, 180, 178, 0.5333);
}

*[brand*=netflix] {
  background-image: url("../../assets/brand-names/netflix.svg");
  background-color: rgba(254, 239, 239, 0.5333);
}

*[brand*=bild] {
  background-image: url("../../assets/brand-names/bild.svg");
  background-color: rgba(255, 219, 219, 0.5333);
}

*[brand*=twitter] {
  background-image: url("../../assets/brand-names/twitter.svg");
  background-color: rgba(150, 211, 249, 0.5333);
}

*[brand*=paypal] {
  background-image: url("../../assets/brand-names/paypal.svg");
  background-color: rgba(135, 178, 255, 0.5333);
}

*[brand*=yahoo] {
  background-image: url("../../assets/brand-names/yahoo.svg");
  background-color: rgba(195, 147, 255, 0.5333);
}

*[brand*=pornhub] {
  background-image: url("../../assets/brand-names/pornhub.svg");
  background-color: rgba(255, 214, 154, 0.5333);
}

*[brand*=reddit] {
  background-image: url("../../assets/brand-names/reddit.svg");
  background-color: rgba(255, 162, 128, 0.5333);
}

*[brand*=yandex] {
  background-image: url("../../assets/brand-names/yandex.svg");
  background-color: rgba(255, 230, 128, 0.5333);
}

*[brand*=kleinanzeigen] {
  background-image: url("../../assets/brand-names/kleinanzeigen.svg");
  background-color: rgba(243, 163, 166, 0.5333);
}

*[brand*=wikipedia] {
  background-image: url("../../assets/brand-names/wikipedia.svg");
  background-color: rgba(191, 191, 191, 0.5333);
}

*[brand*=facebook] {
  background-image: url("../../assets/brand-names/facebook.svg");
  background-color: rgba(223, 230, 243, 0.5333);
}

*[brand*=instagram] {
  background-image: url("../../assets/brand-names/instagram.svg");
  background-color: rgba(177, 189, 245, 0.5333);
}

*[brand*='web.de'] {
  background-image: url("../../assets/brand-names/web.svg");
  background-color: rgba(255, 236, 128, 0.5333);
}

*[brand*=youtube] {
  background-image: url("../../assets/brand-names/youtube.svg");
  background-color: rgba(255, 128, 128, 0.5333);
}

*[brand*=baqend] {
  background-image: url("../../assets/brand-names/baqend.svg");
  background-color: rgba(250, 200, 189, 0.5333);
}

*[brand*=fresenius] {
  background-image: url("../../assets/brand-names/fresenius.svg");
  background-color: rgba(153, 194, 255, 0.5333);
}

*[brand*=mendeley] {
  background-image: url("../../assets/brand-names/mendeley.svg");
  background-color: rgba(247, 208, 211, 0.533);
}

*[brand*=github] {
  background-image: url("../../assets/brand-names/github.svg");
  background-color: rgba(243, 240, 247, 0.533)
}

*[brand*=nivona] {
  background-image: url("../../assets/brand-names/nivona.svg");
  background-color: rgba(252, 187, 193, 0.533)
}

*[brand*=celonis] {
  background-image: url("../../assets/brand-names/celonis.svg");
  background-color: rgba(255, 128, 128, 0.533);
}

*[brand*='one piece'] {
  background-image: url("../../assets/brand-names/onepiece.svg");
  background-color: rgba(131, 136, 255, 0.533);
}

*[brand*=envato] {
  background-image: url("../../assets/brand-names/envato.svg");
  background-color: rgba(251, 253, 248, 0.533);
}

*[brand*=kirby] {
  background-image: url("../../assets/brand-names/kirby.svg");
  background-color: rgba(243, 240, 247, 0.533);
}

*[brand*=coffee] {
  background-image: url("../../assets/brand-names/coffee.svg");
  background-color: rgba(255, 213, 191, 0.533);
}

*[brand*=trello] {
  background-image: url("../../assets/brand-names/trello.svg");
  background-color: rgba(191, 232, 255, 0.533);
}

*[brand*=canva] {
  background-image: url("../../assets/brand-names/canva.svg");
  background-color: rgba(204, 253, 255, 0.533);
}

*[brand*=evernote] {
  background-image: url("../../assets/brand-names/evernote.svg");
  background-color: rgba(239, 251, 243, 0.533);
}

*[brand*=fiverr] {
  background-image: url("../../assets/brand-names/fiverr.svg");
  background-color: rgba(178, 255, 197, 0.533);
}

*[brand*=jquery] {
  background-image: url("../../assets/brand-names/jquery.svg");
  background-color: rgba(183, 224, 252, 0.533);
}

*[brand*='trusted shops'] {
  background-image: url("../../assets/brand-names/trustedshops.svg");
  background-color: rgba(255, 239, 143, 0.533);
}

*[brand*=couchsurfing] {
  background-image: url("../../assets/brand-names/couchsurfing.svg");
  background-color: rgba(255, 247, 241, 0.533);
}

*[brand*=tailorstore] {
  background-image: url("../../assets/brand-names/tailorstore.svg");
  background-color: rgba(230, 214, 194, 0.533);
}

*[brand*=shopify] {
  background-image: url("../../assets/brand-names/shopify.svg");
  background-color: rgba(204, 224, 166, 0.533);
}

*[brand*=duckduckgo] {
  background-image: url("../../assets/brand-names/duckduckgo.svg");
  background-color: rgba(240, 178, 161, 0.533);
}

*[brand*=bing] {
  background-image: url("../../assets/brand-names/bing.svg");
  background-color: rgba(170, 233, 255, 0.533);
}

*[brand*=algolia] {
  background-image: url("../../assets/brand-names/algolia.svg");
  background-color: rgba(212, 217, 255, 0.533);
}

*[brand*=basecamp] {
  background-image: url("../../assets/brand-names/basecamp.svg");
  background-color: rgba(173, 255, 206, 0.533);
}

*[brand*=codepen] {
  background-image: url("../../assets/brand-names/codepen.svg");
  background-color: rgba(222, 223, 229, 0.533);
}

*[brand*=gliffy] {
  background-image: url("../../assets/brand-names/gliffy.svg");
  background-color: rgba(159, 204, 252, 0.533);
}

*[brand*=microsoft] {
  background-image: url("../../assets/brand-names/microsoft.svg");
  background-color: rgba(241, 250, 255, 0.533);
}

*[brand*=mozilla] {
  background-image: url("../../assets/brand-names/mozilla.svg");
  background-color: rgba(206, 206, 209, 0.533);
}

*[brand*=pipedrive] {
  background-image: url("../../assets/brand-names/pipedrive.svg");
  background-color: rgba(231, 232, 234, 0.533);
}

*[brand*=pocket] {
  background-image: url("../../assets/brand-names/pocket.svg");
  background-color: rgba(249, 182, 190, 0.533);
}

*[brand*=stripe] {
  background-image: url("../../assets/brand-names/stripe.svg");
  background-color: rgba(212, 215, 248, 0.533);
}

*[brand*=w3c] {
  background-image: url("../../assets/brand-names/w3c.svg");
  background-color: rgba(217, 234, 247, 0.533);
}

*[brand*='instant gaming'] {
  background-image: url("../../assets/brand-names/instantgaming.svg");
  background-color: rgba(255, 170, 128, 0.533);
}

*[brand*=cdkeys] {
  background-image: url("../../assets/brand-names/cdkeys.svg");
  background-color: rgba(195, 235, 255, 0.533);
}

*[brand*=sentry] {
  background-image: url("../../assets/brand-names/sentry.svg");
  background-color: rgba(183, 175, 214, 0.533);
}

*[brand*=zendesk] {
  background-image: url("../../assets/brand-names/zendesk.svg");
  background-color: rgba(231, 255, 163, 0.533);
}

*[brand*=powtoon] {
  background-image: url("../../assets/brand-names/powtoon.svg");
  background-color: rgba(165, 178, 250, 0.533);
}

*[brand*=hellosign] {
  background-image: url("../../assets/brand-names/hellosign.svg");
  background-color: rgba(245, 252, 254, 0.533);
}

*[brand*=bitly] {
  background-image: url("../../assets/brand-names/bitly.svg");
  background-color: rgba(247, 182, 153, 0.533);
}

*[brand*=adobe] {
  background-image: url("../../assets/brand-names/adobe.svg");
  background-color: rgba(255, 128, 128, 0.533);
}

*[brand*=android] {
  background-image: url("../../assets/brand-names/android.svg");
  background-color: rgba(210, 227, 156, 0.533);
}

*[brand*=asana] {
  background-image: url("../../assets/brand-names/asana.svg");
  background-color: rgba(254, 224, 226, 0.533);
}

*[brand*=confluence] {
  background-image: url("../../assets/brand-names/confluence.svg");
  background-color: rgba(230, 242, 255, 0.533);
}

*[brand*=fastly] {
  background-image: url("../../assets/brand-names/fastly.svg");
  background-color: rgba(255, 168, 170, 0.533);
}

*[brand*=ghost] {
  background-image: url("../../assets/brand-names/ghost.svg");
  background-color: rgba(251, 252, 252, 0.533);
}

*[brand*=intuit] {
  background-image: url("../../assets/brand-names/intuit.svg");
  background-color: rgba(247, 249, 253, 0.533);
}

*[brand*=invision] {
  background-image: url("../../assets/brand-names/invision.svg");
  background-color: rgba(255, 179, 198, 0.533);
}

*[brand*=medium] {
  background-image: url("../../assets/brand-names/medium.svg");
  background-color: rgba(171, 255, 224, 0.533);
}

*[brand*=steam] {
  background-image: url("../../assets/brand-names/steam.svg");
  background-color: rgba(238, 250, 255, 0.533);
}

*[brand*=teamviewer] {
  background-image: url("../../assets/brand-names/teamviewer.svg");
  background-color: rgba(141, 211, 254, 0.533);
}

*[brand*=zoom] {
  background-image: url("../../assets/brand-names/zoom.svg");
  background-color: rgba(141, 211, 254, 0.533);
}

*[brand*=typeform] {
  background-image: url("../../assets/brand-names/typeform.svg");
  background-color: rgba(229, 229, 230, 0.533);
}

*[brand*=buffer] {
  background-image: url("../../assets/brand-names/buffer.svg");
  background-color: rgba(139, 199, 245, 0.533);
}

*[brand*=linkedin] {
  background-image: url("../../assets/brand-names/linkedin.svg");
  background-color: rgba(181, 230, 255, 0.533);
}

*[brand*=whatsapp] {
  background-image: url("../../assets/brand-names/whatsapp.svg");
  background-color: rgba(230, 253, 251, 0.533);
}

*[brand*=xing] {
  background-image: url("../../assets/brand-names/xing.svg");
  background-color: rgba(232, 254, 255, 0.533);
}

*[brand*=kuku] {
  background-image: url("../../assets/brand-names/kuku.svg");
  background-color: rgba(228, 242, 253, 0.533);
}

*[brand*=serverpilot] {
  background-image: url("../../assets/brand-names/serverpilot.svg");
  background-color: rgba(250, 251, 253, 0.533);
}

*[brand*=snipcart] {
  background-image: url("../../assets/brand-names/snipcart.svg");
  background-color: rgba(104, 109, 116, 0.533);
}

*[brand*=studentbeans] {
  background-image: url("../../assets/brand-names/studentbeans.svg");
  background-color: rgba(237, 251, 253, 0.533);
}

*[brand*=usercentrics] {
  background-image: url("../../assets/brand-names/usercentrics.svg");
  background-color: rgba(255, 172, 128, 0.533);
}

*[brand*=absence] {
  background-image: url("../../assets/brand-names/absence.svg");
  background-color: rgba(208, 255, 251, 0.533);
}

*[brand*=awork] {
  background-image: url("../../assets/brand-names/awork.svg");
  background-color: rgba(230, 204, 255, 0.533);
}

*[brand*=brainstation] {
  background-image: url("../../assets/brand-names/brainstation.svg");
  background-color: rgba(239, 244, 254, 0.533);
}

*[brand*=carbon] {
  background-image: url("../../assets/brand-names/carbon.svg");
  background-color: rgba(252, 245, 152, 0.533);
}

*[brand*=detectify] {
  background-image: url("../../assets/brand-names/detectify.svg");
  background-color: rgba(233, 233, 239, 0.533);
}

*[brand*=indiehackers] {
  background-image: url("../../assets/brand-names/indiehackers.svg");
  background-color: rgba(107, 164, 219, 0.533);
}

*[brand*=moss] {
  background-image: url("../../assets/brand-names/moss.svg");
  background-color: rgba(246, 251, 255, 0.533);
}

*[brand*=probely] {
  background-image: url("../../assets/brand-names/probely.svg");
  background-color: rgba(174, 162, 239, 0.533);
}

*[brand*=producthunt] {
  background-image: url("../../assets/brand-names/producthunt.svg");
  background-color: rgba(237, 173, 155, 0.533);
}

*[brand*=runcloud] {
  background-image: url("../../assets/brand-names/runcloud.svg");
  background-color: rgba(163, 197, 226, 0.533);
}

*[brand*=pirsch] {
  background-image: url("../../assets/brand-names/pirsch.svg");
  background-color: rgba(205, 238, 221, 0.533)
}