*[brand*=instapaper] {
 background-image: url("../../assets/brands/instapaper.svg");
 background-color: rgba(191,191,191,0.5333);
}

*[brand*=deepl] {
 background-image: url("../../assets/brands/deepl.svg");
 background-color: rgba(220,234,248,0.5333);
}

*[brand*=garmin] {
 background-image: url("../../assets/brands/garmin.svg");
 background-color: rgba(195,233,255,0.5333);
}

*[brand*=twitch] {
 background-image: url("../../assets/brands/twitch.svg");
 background-color: rgba(241,237,248,0.5333);
}

*[brand*=ohmportal] {
 background-image: url("../../assets/brands/ohmportal.svg");
 background-color: rgba(160,202,255,0.5333);
}

*[brand*=carrd] {
 background-image: url("../../assets/brands/carrd.svg");
 background-color: rgba(234,225,234,0.5333);
}

*[brand*=amazon] {
 background-image: url("../../assets/brands/amazon.svg");
 background-color: rgba(255,204,128,0.5333);
}

*[brand*=google] {
 background-image: url("../../assets/brands/google.svg");
 background-color: rgba(186,211,251,0.5333);
}

*[brand*=ebay] {
 background-image: url("../../assets/brands/ebay.svg");
 background-color: rgba(243,163,166,0.5333);
}

*[brand*=zalando] {
 background-image: url("../../assets/brands/zalando.svg");
 background-color: rgba(255,180,128,0.5333);
}

*[brand*=feedly] {
 background-image: url("../../assets/brands/feedly.svg");
 background-color: rgba(228,248,233,0.5333);
}

*[brand*=monkii] {
  background-image: url("../../assets/brands/monkii.svg");
  background-color: rgba(199,227,161,0.5333);
 }

 *[brand*=papierkram] {
  background-image: url("../../assets/brands/papierkram.svg");
  background-color: rgba(171,229,254,0.5333);
 }

 *[brand*=booking] {
  background-image: url("../../assets/brands/booking.svg");
  background-color: rgba(128,181,255,0.5333);
 }

*[brand*=chip] {
  background-image: url("../../assets/brands/chip.svg");
  background-color: rgba(247,180,178,0.5333);
}

*[brand*=netflix] {
  background-image: url("../../assets/brands/netflix.svg");
  background-color: rgba(254,239,239,0.5333);
}

*[brand*=bild] {
  background-image: url("../../assets/brands/bild.svg");
  background-color: rgba(255,219,219,0.5333);
}

*[brand*=twitter] {
  background-image: url("../../assets/brands/twitter.svg");
  background-color: rgba(150,211,249,0.5333);
}

*[brand*=paypal] {
  background-image: url("../../assets/brands/paypal.svg");
  background-color: rgba(135,178,255,0.5333);
}

*[brand*=yahoo] {
  background-image: url("../../assets/brands/yahoo.svg");
  background-color: rgba(195,147,255,0.5333);
}

*[brand*=pornhub] {
  background-image: url("../../assets/brands/pornhub.svg");
  background-color: rgba(255,214,154,0.5333);
}

*[brand*=reddit] {
  background-image: url("../../assets/brands/reddit.svg");
  background-color: rgba(255,162,128,0.5333);
}

*[brand*=yandex] {
  background-image: url("../../assets/brands/yandex.svg");
  background-color: rgba(255,230,128,0.5333);
}

*[brand*=kleinanzeigen] {
  background-image: url("../../assets/brands/kleinanzeigen.svg");
  background-color: rgba(243,163,166,0.5333);
}
*[brand*=wikipedia] {
  background-image: url("../../assets/brands/wikipedia.svg");
  background-color: rgba(191,191,191,0.5333);
}

*[brand*=facebook] {
  background-image: url("../../assets/brands/facebook.svg");
  background-color: rgba(223,230,243,0.5333);
}
*[brand*=instagram] {
  background-image: url("../../assets/brands/instagram.svg");
  background-color: rgba(177,189,245,0.5333);
}

*[brand*='web.de'] {
  background-image: url("../../assets/brands/web.svg");
  background-color: rgba(255,236,128,0.5333);
}

*[brand*=youtube] {
  background-image: url("../../assets/brands/youtube.svg");
  background-color: rgba(255,128,128,0.5333);
}

*[brand*=baqend] {
  background-image: url("../../assets/brands/baqend.svg");
  background-color: rgba(250,200,189,0.5333);
}

*[brand*=fresenius] {
  background-image: url("../../assets/brands/fresenius.svg");
  background-color: rgba(153,194,255,0.5333);
}

*[brand*=mendeley] {
  background-image: url("../../assets/brands/mendeley.svg");
  background-color: rgba(247,208,211,0.533);
}

*[brand*=github] {
  background-image: url("../../assets/brands/github.svg");
  background-color: rgba(243,240,247,0.533)
}

*[brand*=nivona] {
  background-image: url("../../assets/brands/nivona.svg");
  background-color: rgba(252,187,193,0.533)
}

*[brand*=celonis] {
  background-image: url("../../assets/brands/celonis.svg");
  background-color: rgba(255,128,128,0.533);
} 

*[brand*='one piece'] {
  background-image: url("../../assets/brands/onepiece.svg");
  background-color: rgba(131,136,255,0.533);
} 

*[brand*=envato] {
  background-image: url("../../assets/brands/envato.svg");
  background-color: rgba(251,253,248,0.533);
} 

*[brand*=kirby] {
  background-image: url("../../assets/brands/kirby.svg");
  background-color: rgba(243,240,247,0.533);
} 

*[brand*=coffee] {
  background-image: url("../../assets/brands/coffee.svg");
  background-color: rgba(255, 213, 191, 0.533);
} 

*[brand*=trello] {
  background-image: url("../../assets/brands/trello.svg");
  background-color: rgba(191, 232, 255, 0.533);
} 

*[brand*=canva] {
  background-image: url("../../assets/brands/canva.svg");
  background-color: rgba(204, 253, 255, 0.533);
} 

*[brand*=evernote] {
  background-image: url("../../assets/brands/evernote.svg");
  background-color: rgba(239, 251, 243, 0.533);
} 

*[brand*=fiverr] {
  background-image: url("../../assets/brands/fiverr.svg");
  background-color: rgba(178, 255, 197, 0.533);
} 

*[brand*=jquery] {
  background-image: url("../../assets/brands/jquery.svg");
  background-color: rgba(183, 224, 252, 0.533);
} 

*[brand*='trusted shops'] {
  background-image: url("../../assets/brands/trustedshops.svg");
  background-color: rgba(255, 239, 143, 0.533);
} 

*[brand*=couchsurfing] {
  background-image: url("../../assets/brands/couchsurfing.svg");
  background-color: rgba(255, 247, 241, 0.533);
} 

*[brand*=tailorstore] {
  background-image: url("../../assets/brands/tailorstore.svg");
  background-color: rgba(230, 214, 194, 0.533);
} 

*[brand*=shopify] {
  background-image: url("../../assets/brands/shopify.svg");
  background-color: rgba(204, 224, 166, 0.533);
} 

*[brand*=duckduckgo] {
  background-image: url("../../assets/brands/duckduckgo.svg");
  background-color: rgba(240, 178, 161, 0.533);
} 

*[brand*=bing] {
  background-image: url("../../assets/brands/bing.svg");
  background-color: rgba(170, 233, 255, 0.533);
} 

*[brand*=algolia] {
  background-image: url("../../assets/brands/algolia.svg");
  background-color: rgba(212, 217, 255, 0.533);
} 

*[brand*=basecamp] {
  background-image: url("../../assets/brands/basecamp.svg");
  background-color: rgba(173, 255, 206, 0.533);
} 

*[brand*=codepen] {
  background-image: url("../../assets/brands/codepen.svg");
  background-color: rgba(222, 223, 229, 0.533);
} 

*[brand*=gliffy] {
  background-image: url("../../assets/brands/gliffy.svg");
  background-color: rgba(159, 204, 252, 0.533);
} 

*[brand*=microsoft] {
  background-image: url("../../assets/brands/microsoft.svg");
  background-color: rgba(241, 250, 255, 0.533);
} 

*[brand*=mozilla] {
  background-image: url("../../assets/brands/mozilla.svg");
  background-color: rgba(206, 206, 209, 0.533);
} 

*[brand*=pipedrive] {
  background-image: url("../../assets/brands/pipedrive.svg");
  background-color: rgba(231, 232, 234, 0.533);
} 

*[brand*=pocket] {
  background-image: url("../../assets/brands/pocket.svg");
  background-color: rgba(249, 182, 190, 0.533);
} 

*[brand*=stripe] {
  background-image: url("../../assets/brands/stripe.svg");
  background-color: rgba(212, 215, 248, 0.533);
} 

*[brand*=w3c] {
  background-image: url("../../assets/brands/w3c.svg");
  background-color: rgba(217, 234, 247, 0.533);
} 

*[brand*='instant gaming'] {
  background-image: url("../../assets/brands/instantgaming.svg");
  background-color: rgba(255, 170, 128, 0.533);
} 

*[brand*=cdkeys] {
  background-image: url("../../assets/brands/cdkeys.svg");
  background-color: rgba(195, 235, 255, 0.533);
} 

*[brand*=sentry] {
  background-image: url("../../assets/brands/sentry.svg");
  background-color: rgba(183, 175, 214, 0.533);
} 

*[brand*=zendesk] {
  background-image: url("../../assets/brands/zendesk.svg");
  background-color: rgba(231, 255, 163, 0.533);
} 

*[brand*=powtoon] {
  background-image: url("../../assets/brands/powtoon.svg");
  background-color: rgba(165, 178, 250, 0.533);
} 

*[brand*=hellosign] {
  background-image: url("../../assets/brands/hellosign.svg");
  background-color: rgba(245, 252, 254, 0.533);
} 

*[brand*=bitly] {
  background-image: url("../../assets/brands/bitly.svg");
  background-color: rgba(247, 182, 153, 0.533);
} 