/* Custom SCSS */

// Theme color
$theme-color: "pumpkin" !default; // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc

/* Pico */

@import "pico/scss/pico.scss";

/* Custom CSS*/

:root {
  --pico-primary: #f5a000 !important;
}

h1 {
  margin-bottom: 0px;
}