@import "custom.pico.css";
svg {
  width: 1rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=file])[type=search] {
  border-radius: var(--border-radius);
}

section#grid {
  padding: 0px 1rem;
}

.container {
  margin: 3rem auto;
}

li.top-tag {
  display: none;
}

@media (min-width: 768px) {
  div#bookmarks.grid {
    grid-template-columns: repeat(4, minmax(0%, 1fr));
  }
  section#grid {
    padding: 0px 8rem;
  }
  li.top-tag {
    display: block;
  }
}

article header,
dialog article>footer,
dialog article>header {
  padding-bottom: unset;
}

div#bookmarks article header {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: calc(var(--pico-spacing) / 2);
  margin-bottom: unset;
  backdrop-filter: blur(3px);
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#bookmarks article footer {
  padding: 0 calc(var(--pico-block-spacing-horizontal)/ 2) 10px calc(var(--pico-block-spacing-horizontal)/ 2);
  border: none;
  background-color: transparent;
  margin-top: unset;
}

div#bookmarks article footer .grid {
  align-items: center;
}

div#bookmarks article footer form {
  margin: 0;
}

div#bookmarks article svg {
  color: rgba(10, 10, 10, .2)
}

div#bookmarks article {
  margin: calc(var(--grid-spacing-horizontal) / 2) 0;
}

div#bookmarks article footer button {
  width: fit-content;
  padding: 5px;
  font-size: initial;
  float: right;
  background-color: transparent;
  border-color: transparent;
  margin: 0;
}

.delete svg {
  width: 0.66rem;
  color: var(--primary);
}

.delete svg:focus,
.delete svg:hover {
  color: rgba(139, 0, 0, 1.000) !important;
}

.edit svg:focus,
.edit svg:hover {
  color: #262626 !important;
}

.card-spanner {
  display: block;
  min-height: 150px;
  max-height: 200px;
  height: auto;
}

.card-tags {
  width: max-content;
}

section#top-tags {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: unset;
}

body>header:nth-child(1) {
  padding: 2rem;
  padding-bottom: unset;
}

input#s_title,
input#s_link,
input#s_tags {
  opacity: 0.5;
  border: none;
  border-radius: 0;
  border-top: 1px solid var(--pico-primary);
}

input#s_title:focus,
input#s_link:focus,
input#s_tags:focus {
  opacity: 1;
  border-radius: var(--pico-border-radius);
}

a#logout:hover {
  color: red;
}

article.bookmark a {
  width: 100%;
  display: block;
  color: var(--pico-contrast);
  text-decoration: none;
  font-weight: bold;
}


/* ---------------------------- OLD --------------------*/

a.is-disabled {
  cursor: not-allowed;
}

a.is-disabled:hover {
  color: red;
}

a.is-disabled:hover:after {
  color: red;
  content: "\00A0is disabled";
}

span.edit {
  color: rgba(10, 10, 10, .2);
  cursor: pointer;
}

span.edit:focus,
span.edit:hover {
  color: rgba(10, 10, 10, 0.75);
}

span.tag {
  opacity: 0.2;
  cursor: pointer;
  font-style: italic;
  font-variant: oldstyle-nums;
  font-family: initial;
  font-size: medium;
  background-color: unset;
  display: inline-flex;
  align-items: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 1rem;
  white-space: nowrap;
}

span.tag:focus,
span.tag:hover {
  opacity: 1;
  scale: 1.05;
  color: #f5a000;
}

.modal-card-foot,
.modal-card-head {
  background-color: rgba(255, 255, 255, 1.000);
}

.card-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: inherit;
  background-image: none;
}

.card-content {
  word-wrap: anywhere;
}

.card {
  height: 100%;
  border-radius: 4px;
}

.card-background:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.card a {
  height: 175px;
  display: block;
}

footer.card-footer {
  justify-content: space-between;
  border: none;
  margin: 0.5rem;
  align-items: center;
}

.limitbar {
  box-shadow: unset;
  padding-bottom: 0;
}

.progress.is-small {
  height: 0.05rem;
}

.section {
  padding: 2rem 1.5rem;
}

@media (max-width: 768px) {
  .jumbotron {
    padding-left: 1.25rem;
  }
}