
*[brand*='absence'] {
  background-image: url('assets/brand-names/absence.png');
}

*[brand*='absence'] {
  background-image: url('assets/brand-names/absence.svg');
}

*[brand*='adobe'] {
  background-image: url('assets/brand-names/adobe.png');
}

*[brand*='adobe'] {
  background-image: url('assets/brand-names/adobe.svg');
}

*[brand*='algolia'] {
  background-image: url('assets/brand-names/algolia.png');
}

*[brand*='algolia'] {
  background-image: url('assets/brand-names/algolia.svg');
}

*[brand*='amazon'] {
  background-image: url('assets/brand-names/amazon.png');
}

*[brand*='amazon'] {
  background-image: url('assets/brand-names/amazon.svg');
}

*[brand*='android'] {
  background-image: url('assets/brand-names/android.png');
}

*[brand*='android'] {
  background-image: url('assets/brand-names/android.svg');
}

*[brand*='apple'] {
  background-image: url('assets/brand-names/apple.png');
}

*[brand*='apple'] {
  background-image: url('assets/brand-names/apple.svg');
}

*[brand*='archbee'] {
  background-image: url('assets/brand-names/archbee.png');
}

*[brand*='archbee'] {
  background-image: url('assets/brand-names/archbee.svg');
}

*[brand*='asana'] {
  background-image: url('assets/brand-names/asana.png');
}

*[brand*='asana'] {
  background-image: url('assets/brand-names/asana.svg');
}

*[brand*='awesomic'] {
  background-image: url('assets/brand-names/awesomic.png');
}

*[brand*='awesomic'] {
  background-image: url('assets/brand-names/awesomic.svg');
}

*[brand*='awork'] {
  background-image: url('assets/brand-names/awork.png');
}

*[brand*='awork'] {
  background-image: url('assets/brand-names/awork.svg');
}

*[brand*='baqend'] {
  background-image: url('assets/brand-names/baqend.png');
}

*[brand*='baqend'] {
  background-image: url('assets/brand-names/baqend.svg');
}

*[brand*='basecamp'] {
  background-image: url('assets/brand-names/basecamp.png');
}

*[brand*='basecamp'] {
  background-image: url('assets/brand-names/basecamp.svg');
}

*[brand*='bild'] {
  background-image: url('assets/brand-names/bild.png');
}

*[brand*='bild'] {
  background-image: url('assets/brand-names/bild.svg');
}

*[brand*='bing'] {
  background-image: url('assets/brand-names/bing.png');
}

*[brand*='bing'] {
  background-image: url('assets/brand-names/bing.svg');
}

*[brand*='bitly'] {
  background-image: url('assets/brand-names/bitly.png');
}

*[brand*='bitly'] {
  background-image: url('assets/brand-names/bitly.svg');
}

*[brand*='booking'] {
  background-image: url('assets/brand-names/booking.png');
}

*[brand*='booking'] {
  background-image: url('assets/brand-names/booking.svg');
}

*[brand*='brainstation'] {
  background-image: url('assets/brand-names/brainstation.png');
}

*[brand*='brainstation'] {
  background-image: url('assets/brand-names/brainstation.svg');
}

*[brand*='buffer'] {
  background-image: url('assets/brand-names/buffer.png');
}

*[brand*='buffer'] {
  background-image: url('assets/brand-names/buffer.svg');
}

*[brand*='canva'] {
  background-image: url('assets/brand-names/canva.png');
}

*[brand*='canva'] {
  background-image: url('assets/brand-names/canva.svg');
}

*[brand*='carbon'] {
  background-image: url('assets/brand-names/carbon.png');
}

*[brand*='carbon'] {
  background-image: url('assets/brand-names/carbon.svg');
}

*[brand*='carrd'] {
  background-image: url('assets/brand-names/carrd.png');
}

*[brand*='carrd'] {
  background-image: url('assets/brand-names/carrd.svg');
}

*[brand*='cdkeys'] {
  background-image: url('assets/brand-names/cdkeys.png');
}

*[brand*='cdkeys'] {
  background-image: url('assets/brand-names/cdkeys.svg');
}

*[brand*='celonis'] {
  background-image: url('assets/brand-names/celonis.png');
}

*[brand*='celonis'] {
  background-image: url('assets/brand-names/celonis.svg');
}

*[brand*='chip'] {
  background-image: url('assets/brand-names/chip.png');
}

*[brand*='chip'] {
  background-image: url('assets/brand-names/chip.svg');
}

*[brand*='codepen'] {
  background-image: url('assets/brand-names/codepen.png');
}

*[brand*='codepen'] {
  background-image: url('assets/brand-names/codepen.svg');
}

*[brand*='coffee'] {
  background-image: url('assets/brand-names/coffee.png');
}

*[brand*='coffee'] {
  background-image: url('assets/brand-names/coffee.svg');
}

*[brand*='confluence'] {
  background-image: url('assets/brand-names/confluence.png');
}

*[brand*='confluence'] {
  background-image: url('assets/brand-names/confluence.svg');
}

*[brand*='contentin'] {
  background-image: url('assets/brand-names/contentin.png');
}

*[brand*='contentin'] {
  background-image: url('assets/brand-names/contentin.svg');
}

*[brand*='copy'] {
  background-image: url('assets/brand-names/copy.png');
}

*[brand*='copy'] {
  background-image: url('assets/brand-names/copy.svg');
}

*[brand*='couchsurfing'] {
  background-image: url('assets/brand-names/couchsurfing.png');
}

*[brand*='couchsurfing'] {
  background-image: url('assets/brand-names/couchsurfing.svg');
}

*[brand*='coworker'] {
  background-image: url('assets/brand-names/coworker.png');
}

*[brand*='coworker'] {
  background-image: url('assets/brand-names/coworker.svg');
}

*[brand*='deepl'] {
  background-image: url('assets/brand-names/deepl.png');
}

*[brand*='deepl'] {
  background-image: url('assets/brand-names/deepl.svg');
}

*[brand*='detectify'] {
  background-image: url('assets/brand-names/detectify.png');
}

*[brand*='detectify'] {
  background-image: url('assets/brand-names/detectify.svg');
}

*[brand*='dev'] {
  background-image: url('assets/brand-names/dev.png');
}

*[brand*='dev'] {
  background-image: url('assets/brand-names/dev.svg');
}

*[brand*='duckduckgo'] {
  background-image: url('assets/brand-names/duckduckgo.png');
}

*[brand*='duckduckgo'] {
  background-image: url('assets/brand-names/duckduckgo.svg');
}

*[brand*='ebay'] {
  background-image: url('assets/brand-names/ebay.png');
}

*[brand*='ebay'] {
  background-image: url('assets/brand-names/ebay.svg');
}

*[brand*='elevenlabs'] {
  background-image: url('assets/brand-names/elevenlabs.png');
}

*[brand*='elevenlabs'] {
  background-image: url('assets/brand-names/elevenlabs.svg');
}

*[brand*='emaillabs'] {
  background-image: url('assets/brand-names/emaillabs.png');
}

*[brand*='emaillabs'] {
  background-image: url('assets/brand-names/emaillabs.svg');
}

*[brand*='emojicom'] {
  background-image: url('assets/brand-names/emojicom.png');
}

*[brand*='emojicom'] {
  background-image: url('assets/brand-names/emojicom.svg');
}

*[brand*='envato'] {
  background-image: url('assets/brand-names/envato.png');
}

*[brand*='envato'] {
  background-image: url('assets/brand-names/envato.svg');
}

*[brand*='evernote'] {
  background-image: url('assets/brand-names/evernote.png');
}

*[brand*='evernote'] {
  background-image: url('assets/brand-names/evernote.svg');
}

*[brand*='facebook'] {
  background-image: url('assets/brand-names/facebook.png');
}

*[brand*='facebook'] {
  background-image: url('assets/brand-names/facebook.svg');
}

*[brand*='fastly'] {
  background-image: url('assets/brand-names/fastly.png');
}

*[brand*='fastly'] {
  background-image: url('assets/brand-names/fastly.svg');
}

*[brand*='fdroid'] {
  background-image: url('assets/brand-names/fdroid.png');
}

*[brand*='fdroid'] {
  background-image: url('assets/brand-names/fdroid.svg');
}

*[brand*='feedhive'] {
  background-image: url('assets/brand-names/feedhive.png');
}

*[brand*='feedhive'] {
  background-image: url('assets/brand-names/feedhive.svg');
}

*[brand*='feedly'] {
  background-image: url('assets/brand-names/feedly.png');
}

*[brand*='feedly'] {
  background-image: url('assets/brand-names/feedly.svg');
}

*[brand*='fiverr'] {
  background-image: url('assets/brand-names/fiverr.png');
}

*[brand*='fiverr'] {
  background-image: url('assets/brand-names/fiverr.svg');
}

*[brand*='freeillustrations'] {
  background-image: url('assets/brand-names/freeillustrations.png');
}

*[brand*='freeillustrations'] {
  background-image: url('assets/brand-names/freeillustrations.svg');
}

*[brand*='fresenius'] {
  background-image: url('assets/brand-names/fresenius.png');
}

*[brand*='fresenius'] {
  background-image: url('assets/brand-names/fresenius.svg');
}

*[brand*='garmin'] {
  background-image: url('assets/brand-names/garmin.png');
}

*[brand*='garmin'] {
  background-image: url('assets/brand-names/garmin.svg');
}

*[brand*='ghost'] {
  background-image: url('assets/brand-names/ghost.png');
}

*[brand*='ghost'] {
  background-image: url('assets/brand-names/ghost.svg');
}

*[brand*='github'] {
  background-image: url('assets/brand-names/github.png');
}

*[brand*='github'] {
  background-image: url('assets/brand-names/github.svg');
}

*[brand*='gitmoji'] {
  background-image: url('assets/brand-names/gitmoji.png');
}

*[brand*='gitmoji'] {
  background-image: url('assets/brand-names/gitmoji.svg');
}

*[brand*='gliffy'] {
  background-image: url('assets/brand-names/gliffy.png');
}

*[brand*='gliffy'] {
  background-image: url('assets/brand-names/gliffy.svg');
}

*[brand*='google'] {
  background-image: url('assets/brand-names/google.png');
}

*[brand*='google'] {
  background-image: url('assets/brand-names/google.svg');
}

*[brand*='hellosign'] {
  background-image: url('assets/brand-names/hellosign.png');
}

*[brand*='hellosign'] {
  background-image: url('assets/brand-names/hellosign.svg');
}

*[brand*='iconset'] {
  background-image: url('assets/brand-names/iconset.png');
}

*[brand*='iconset'] {
  background-image: url('assets/brand-names/iconset.svg');
}

*[brand*='indiehackers'] {
  background-image: url('assets/brand-names/indiehackers.png');
}

*[brand*='indiehackers'] {
  background-image: url('assets/brand-names/indiehackers.svg');
}

*[brand*='instagram'] {
  background-image: url('assets/brand-names/instagram.png');
}

*[brand*='instagram'] {
  background-image: url('assets/brand-names/instagram.svg');
}

*[brand*='instantgaming'] {
  background-image: url('assets/brand-names/instantgaming.png');
}

*[brand*='instantgaming'] {
  background-image: url('assets/brand-names/instantgaming.svg');
}

*[brand*='instapaper'] {
  background-image: url('assets/brand-names/instapaper.png');
}

*[brand*='instapaper'] {
  background-image: url('assets/brand-names/instapaper.svg');
}

*[brand*='intuit'] {
  background-image: url('assets/brand-names/intuit.png');
}

*[brand*='intuit'] {
  background-image: url('assets/brand-names/intuit.svg');
}

*[brand*='invision'] {
  background-image: url('assets/brand-names/invision.png');
}

*[brand*='invision'] {
  background-image: url('assets/brand-names/invision.svg');
}

*[brand*='jquery'] {
  background-image: url('assets/brand-names/jquery.png');
}

*[brand*='jquery'] {
  background-image: url('assets/brand-names/jquery.svg');
}

*[brand*='kamnik'] {
  background-image: url('assets/brand-names/kamnik.png');
}

*[brand*='kamnik'] {
  background-image: url('assets/brand-names/kamnik.svg');
}

*[brand*='kirby'] {
  background-image: url('assets/brand-names/kirby.png');
}

*[brand*='kirby'] {
  background-image: url('assets/brand-names/kirby.svg');
}

*[brand*='kleinanzeigen'] {
  background-image: url('assets/brand-names/kleinanzeigen.png');
}

*[brand*='kleinanzeigen'] {
  background-image: url('assets/brand-names/kleinanzeigen.svg');
}

*[brand*='kuku'] {
  background-image: url('assets/brand-names/kuku.png');
}

*[brand*='kuku'] {
  background-image: url('assets/brand-names/kuku.svg');
}

*[brand*='linkedin'] {
  background-image: url('assets/brand-names/linkedin.png');
}

*[brand*='linkedin'] {
  background-image: url('assets/brand-names/linkedin.svg');
}

*[brand*='lobe'] {
  background-image: url('assets/brand-names/lobe.png');
}

*[brand*='lobe'] {
  background-image: url('assets/brand-names/lobe.svg');
}

*[brand*='medium'] {
  background-image: url('assets/brand-names/medium.png');
}

*[brand*='medium'] {
  background-image: url('assets/brand-names/medium.svg');
}

*[brand*='mendeley'] {
  background-image: url('assets/brand-names/mendeley.png');
}

*[brand*='mendeley'] {
  background-image: url('assets/brand-names/mendeley.svg');
}

*[brand*='metlo'] {
  background-image: url('assets/brand-names/metlo.png');
}

*[brand*='metlo'] {
  background-image: url('assets/brand-names/metlo.svg');
}

*[brand*='microsoft'] {
  background-image: url('assets/brand-names/microsoft.png');
}

*[brand*='microsoft'] {
  background-image: url('assets/brand-names/microsoft.svg');
}

*[brand*='monkii'] {
  background-image: url('assets/brand-names/monkii.png');
}

*[brand*='monkii'] {
  background-image: url('assets/brand-names/monkii.svg');
}

*[brand*='moss'] {
  background-image: url('assets/brand-names/moss.png');
}

*[brand*='moss'] {
  background-image: url('assets/brand-names/moss.svg');
}

*[brand*='mozilla'] {
  background-image: url('assets/brand-names/mozilla.png');
}

*[brand*='mozilla'] {
  background-image: url('assets/brand-names/mozilla.svg');
}

*[brand*='netflix'] {
  background-image: url('assets/brand-names/netflix.png');
}

*[brand*='netflix'] {
  background-image: url('assets/brand-names/netflix.svg');
}

*[brand*='newstroll'] {
  background-image: url('assets/brand-names/newstroll.png');
}

*[brand*='newstroll'] {
  background-image: url('assets/brand-names/newstroll.svg');
}

*[brand*='ngrok'] {
  background-image: url('assets/brand-names/ngrok.png');
}

*[brand*='ngrok'] {
  background-image: url('assets/brand-names/ngrok.svg');
}

*[brand*='nivona'] {
  background-image: url('assets/brand-names/nivona.png');
}

*[brand*='nivona'] {
  background-image: url('assets/brand-names/nivona.svg');
}

*[brand*='ohmportal'] {
  background-image: url('assets/brand-names/ohmportal.png');
}

*[brand*='ohmportal'] {
  background-image: url('assets/brand-names/ohmportal.svg');
}

*[brand*='onepiece'] {
  background-image: url('assets/brand-names/onepiece.png');
}

*[brand*='onepiece'] {
  background-image: url('assets/brand-names/onepiece.svg');
}

*[brand*='pallyy'] {
  background-image: url('assets/brand-names/pallyy.png');
}

*[brand*='pallyy'] {
  background-image: url('assets/brand-names/pallyy.svg');
}

*[brand*='papierkram'] {
  background-image: url('assets/brand-names/papierkram.png');
}

*[brand*='papierkram'] {
  background-image: url('assets/brand-names/papierkram.svg');
}

*[brand*='paypal'] {
  background-image: url('assets/brand-names/paypal.png');
}

*[brand*='paypal'] {
  background-image: url('assets/brand-names/paypal.svg');
}

*[brand*='phind'] {
  background-image: url('assets/brand-names/phind.png');
}

*[brand*='phind'] {
  background-image: url('assets/brand-names/phind.svg');
}

*[brand*='pipedrive'] {
  background-image: url('assets/brand-names/pipedrive.png');
}

*[brand*='pipedrive'] {
  background-image: url('assets/brand-names/pipedrive.svg');
}

*[brand*='pirsch'] {
  background-image: url('assets/brand-names/pirsch.png');
}

*[brand*='pirsch'] {
  background-image: url('assets/brand-names/pirsch.svg');
}

*[brand*='pocket'] {
  background-image: url('assets/brand-names/pocket.png');
}

*[brand*='pocket'] {
  background-image: url('assets/brand-names/pocket.svg');
}

*[brand*='pornhub'] {
  background-image: url('assets/brand-names/pornhub.png');
}

*[brand*='pornhub'] {
  background-image: url('assets/brand-names/pornhub.svg');
}

*[brand*='powtoon'] {
  background-image: url('assets/brand-names/powtoon.png');
}

*[brand*='powtoon'] {
  background-image: url('assets/brand-names/powtoon.svg');
}

*[brand*='probely'] {
  background-image: url('assets/brand-names/probely.png');
}

*[brand*='probely'] {
  background-image: url('assets/brand-names/probely.svg');
}

*[brand*='producthunt'] {
  background-image: url('assets/brand-names/producthunt.png');
}

*[brand*='producthunt'] {
  background-image: url('assets/brand-names/producthunt.svg');
}

*[brand*='profilepicture'] {
  background-image: url('assets/brand-names/profilepicture.png');
}

*[brand*='profilepicture'] {
  background-image: url('assets/brand-names/profilepicture.svg');
}

*[brand*='profilepictureai'] {
  background-image: url('assets/brand-names/profilepictureai.png');
}

*[brand*='profilepictureai'] {
  background-image: url('assets/brand-names/profilepictureai.svg');
}

*[brand*='qonto'] {
  background-image: url('assets/brand-names/qonto.png');
}

*[brand*='qonto'] {
  background-image: url('assets/brand-names/qonto.svg');
}

*[brand*='reddit'] {
  background-image: url('assets/brand-names/reddit.png');
}

*[brand*='reddit'] {
  background-image: url('assets/brand-names/reddit.svg');
}

*[brand*='runcloud'] {
  background-image: url('assets/brand-names/runcloud.png');
}

*[brand*='runcloud'] {
  background-image: url('assets/brand-names/runcloud.svg');
}

*[brand*='sentry'] {
  background-image: url('assets/brand-names/sentry.png');
}

*[brand*='sentry'] {
  background-image: url('assets/brand-names/sentry.svg');
}

*[brand*='serverpilot'] {
  background-image: url('assets/brand-names/serverpilot.png');
}

*[brand*='serverpilot'] {
  background-image: url('assets/brand-names/serverpilot.svg');
}

*[brand*='shopify'] {
  background-image: url('assets/brand-names/shopify.png');
}

*[brand*='shopify'] {
  background-image: url('assets/brand-names/shopify.svg');
}

*[brand*='snipcart'] {
  background-image: url('assets/brand-names/snipcart.png');
}

*[brand*='snipcart'] {
  background-image: url('assets/brand-names/snipcart.svg');
}

*[brand*='steam'] {
  background-image: url('assets/brand-names/steam.png');
}

*[brand*='steam'] {
  background-image: url('assets/brand-names/steam.svg');
}

*[brand*='stripe'] {
  background-image: url('assets/brand-names/stripe.png');
}

*[brand*='stripe'] {
  background-image: url('assets/brand-names/stripe.svg');
}

*[brand*='studentbeans'] {
  background-image: url('assets/brand-names/studentbeans.png');
}

*[brand*='studentbeans'] {
  background-image: url('assets/brand-names/studentbeans.svg');
}

*[brand*='tailorstore'] {
  background-image: url('assets/brand-names/tailorstore.png');
}

*[brand*='tailorstore'] {
  background-image: url('assets/brand-names/tailorstore.svg');
}

*[brand*='talkwalker'] {
  background-image: url('assets/brand-names/talkwalker.png');
}

*[brand*='talkwalker'] {
  background-image: url('assets/brand-names/talkwalker.svg');
}

*[brand*='teamviewer'] {
  background-image: url('assets/brand-names/teamviewer.png');
}

*[brand*='teamviewer'] {
  background-image: url('assets/brand-names/teamviewer.svg');
}

*[brand*='trello'] {
  background-image: url('assets/brand-names/trello.png');
}

*[brand*='trello'] {
  background-image: url('assets/brand-names/trello.svg');
}

*[brand*='trustedshops'] {
  background-image: url('assets/brand-names/trustedshops.png');
}

*[brand*='trustedshops'] {
  background-image: url('assets/brand-names/trustedshops.svg');
}

*[brand*='tuta'] {
  background-image: url('assets/brand-names/tuta.png');
}

*[brand*='tuta'] {
  background-image: url('assets/brand-names/tuta.svg');
}

*[brand*='twitch'] {
  background-image: url('assets/brand-names/twitch.png');
}

*[brand*='twitch'] {
  background-image: url('assets/brand-names/twitch.svg');
}

*[brand*='twitter'] {
  background-image: url('assets/brand-names/twitter.png');
}

*[brand*='twitter'] {
  background-image: url('assets/brand-names/twitter.svg');
}

*[brand*='typeform'] {
  background-image: url('assets/brand-names/typeform.png');
}

*[brand*='typeform'] {
  background-image: url('assets/brand-names/typeform.svg');
}

*[brand*='usercentrics'] {
  background-image: url('assets/brand-names/usercentrics.png');
}

*[brand*='usercentrics'] {
  background-image: url('assets/brand-names/usercentrics.svg');
}

*[brand*='userlike'] {
  background-image: url('assets/brand-names/userlike.png');
}

*[brand*='userlike'] {
  background-image: url('assets/brand-names/userlike.svg');
}

*[brand*='w3c'] {
  background-image: url('assets/brand-names/w3c.png');
}

*[brand*='w3c'] {
  background-image: url('assets/brand-names/w3c.svg');
}

*[brand*='wave'] {
  background-image: url('assets/brand-names/wave.png');
}

*[brand*='wave'] {
  background-image: url('assets/brand-names/wave.svg');
}

*[brand*='web'] {
  background-image: url('assets/brand-names/web.png');
}

*[brand*='web'] {
  background-image: url('assets/brand-names/web.svg');
}

*[brand*='wepik'] {
  background-image: url('assets/brand-names/wepik.png');
}

*[brand*='wepik'] {
  background-image: url('assets/brand-names/wepik.svg');
}

*[brand*='whatsapp'] {
  background-image: url('assets/brand-names/whatsapp.png');
}

*[brand*='whatsapp'] {
  background-image: url('assets/brand-names/whatsapp.svg');
}

*[brand*='wikingerreisen'] {
  background-image: url('assets/brand-names/wikingerreisen.png');
}

*[brand*='wikingerreisen'] {
  background-image: url('assets/brand-names/wikingerreisen.svg');
}

*[brand*='wikipedia'] {
  background-image: url('assets/brand-names/wikipedia.png');
}

*[brand*='wikipedia'] {
  background-image: url('assets/brand-names/wikipedia.svg');
}

*[brand*='xing'] {
  background-image: url('assets/brand-names/xing.png');
}

*[brand*='xing'] {
  background-image: url('assets/brand-names/xing.svg');
}

*[brand*='yahoo'] {
  background-image: url('assets/brand-names/yahoo.png');
}

*[brand*='yahoo'] {
  background-image: url('assets/brand-names/yahoo.svg');
}

*[brand*='yandex'] {
  background-image: url('assets/brand-names/yandex.png');
}

*[brand*='yandex'] {
  background-image: url('assets/brand-names/yandex.svg');
}

*[brand*='youtube'] {
  background-image: url('assets/brand-names/youtube.png');
}

*[brand*='youtube'] {
  background-image: url('assets/brand-names/youtube.svg');
}

*[brand*='zalando'] {
  background-image: url('assets/brand-names/zalando.png');
}

*[brand*='zalando'] {
  background-image: url('assets/brand-names/zalando.svg');
}

*[brand*='zendesk'] {
  background-image: url('assets/brand-names/zendesk.png');
}

*[brand*='zendesk'] {
  background-image: url('assets/brand-names/zendesk.svg');
}

*[brand*='zoom'] {
  background-image: url('assets/brand-names/zoom.png');
}

*[brand*='zoom'] {
  background-image: url('assets/brand-names/zoom.svg');
}
